.app {

}

.title{
  text-align: center;
}

.reportContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: thin;
  /* min-width: 300px; */
  max-width: 580px;
  max-height: 100px;
  margin:auto;
  margin-bottom: 15px;
}

.leftSection, .middleSection{
  padding-right: 20px;
  
}

.leftId{
  
}

.message{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 20px;
  max-width: 330px;
}

.rightSection button{
  display: block;
  width: 98%;
}

button:first-child{
  margin-bottom: 10px;
}